@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    list-style: none;
}
header {
    width: 100vw;
    height: 20vh;
    background-color: black;
    color: white;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 0.9rem;
}

.neon {
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px orangered;
    background-image: linear-gradient(to left, red, red, orangered, orangered, black, black, black, black);
    -webkit-background-clip: text;
    animation: move 20s linear infinite;
}
@keyframes move {
    100% {
        background-position: 2000px 0;
    }
}
.neon:hover {
    text-shadow: 0 0 10px orangered,
                 0 0 20px orangered,
                 0 0 40px orangered,
                 0 0 80px orangered,
                 0 0 160px orangered,
                 0 0 320px orangered; 
}

.menu {
    width: 0px;
    height: 100vh;
    padding: 10px 0 55px;
    background-color: rgb(20, 20, 20);
    box-shadow: 5px 0 10px orangered;
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.7s;
    overflow: hidden;
}
.menu:hover{
    width: 50vw;
}

.bttn-hamburguer {
    position: fixed;
    cursor: pointer;
    font-size: 50px;
}

ul li.item-menu a{
    color: white;
    text-decoration: none;
    font-size: 35px;
    padding: 55px 10px;
    display: flex;
    justify-content: space-between;
    line-height: 50px;
}
ul li.item-menu a .icon > i {
    font-size: 50px;
}
main {
    width: 100vw;
    height: 70vh;
}
footer {
    width: 100vw;
    height: 10vh;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}